<network xmlns:dnsmasq='http://libvirt.org/schemas/network/dnsmasq/1.0'>
  <name>{{ ocp_network_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ ocp_network_bridge }}' stp='on' delay='0'/>
  <!-- DNS disabled: BIND9 on the host handles all DNS on {{ ocp_network_gateway }}:53 -->
  <dns enable='no'/>
  <ip address='{{ ocp_network_gateway }}' netmask='{{ ocp_network_netmask }}'>
    <dhcp>
      <range start='{{ ocp_network_dhcp_start }}' end='{{ ocp_network_dhcp_end }}'/>
      {% for node in control_nodes + worker_nodes %}
      <host mac='{{ node.mac }}' name='{{ node.name }}' ip='{{ node.ip }}'/>
      {% endfor %}
    </dhcp>
  </ip>
  <!-- Tell DHCP clients to use BIND on the gateway for DNS -->
  <dnsmasq:options>
    <dnsmasq:option value='dhcp-option=option:dns-server,{{ ocp_network_gateway }}'/>
  </dnsmasq:options>
</network>
